In [1]:
# import dependencies
import pandas as pd
import gmaps
import requests

# import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a data frame 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,city_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2020-09-27 21:29:51,-46.19,168.86,37.99,93,100,5.01
1,1,Lebu,CL,2020-09-27 21:27:57,-37.62,-73.65,53.26,74,0,13.31
2,2,Sabang,ID,2020-09-27 21:29:52,5.89,95.32,81.93,80,96,13.80
3,3,Busselton,AU,2020-09-27 21:29:52,-33.65,115.33,54.00,91,42,9.84
4,4,Mubi,NG,2020-09-27 21:29:52,10.27,13.26,74.86,82,100,2.21

In [3]:
city_data_df.dtypes

city_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your google API key
gmaps.configure(api_key=g_key)

In [5]:
# Create Heatmaps for the maximum temperature. the general synatx

# 1. Assign the locations to an array of latitude and longitude pairs.
#    locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#    temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
#    fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#    heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#    fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#    fig

In [6]:
# heatmap of temperatures
# Get the latitude and longitude.

locations = city_data_df[['Lat','Lng']]

# Assign the weights (temp, humidity, etc...) - 
# Get the maximum temperature

max_temp = city_data_df['Max Temp']

#Assign the figure variable. 
fig = gmaps.figure()

# Assign the heatmap variable
heat_layer= gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Callt the figure to plot the data

In [7]:
# In case there is an error called invalid weight expections is due to maximum temperatures below 0F
# so to come around this we would need to loop throught the list of max temps and create a new list to adding max temps to 0 
# Get max temps

max_temp = city_data_df['Max Temp']
temps = []
heat_layer_1 = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
fig.add_layer(heat_layer_1)

In [9]:
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
    # Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# FINAL - APP FOR USER TO FIND DESTINATION - VACATION APP
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,city_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Sabang,ID,2020-09-27 21:29:52,5.89,95.32,81.93,80,96,13.80
9,9,Hithadhoo,MV,2020-09-27 21:29:53,-0.60,73.08,82.67,67,98,4.90
11,11,Waingapu,ID,2020-09-27 21:29:54,-9.66,120.26,76.77,75,32,4.38
15,15,Iranshahr,IR,2020-09-27 21:29:54,27.20,60.68,78.80,11,0,6.93
16,16,Gyanpur,IN,2020-09-27 21:29:55,25.35,82.47,79.23,69,27,2.55
17,17,Hilo,US,2020-09-27 21:29:55,19.73,-155.09,84.20,54,1,8.05
18,18,Port Blair,IN,2020-09-27 21:28:06,11.67,92.75,81.55,82,100,8.61
20,20,Havelock,US,2020-09-27 21:29:55,34.88,-76.90,77.00,65,75,4.85
23,23,Mastic Beach,US,2020-09-27 21:29:56,40.77,-72.85,75.00,83,90,5.82
25,25,Vaini,TO,2020-09-27 21:29:56,-21.20,-175.20,77.00,78,20,8.05

In [15]:
preferred_cities_df.count()

city_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [16]:
preferred_cities_df.isnull().sum()

city_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [17]:
preferred_cities_df.notnull().sum()

city_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [18]:
# Now to suggest a hotel for the preferred cities. 
# we will want to keep the preferred city 

hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
2         Sabang      ID     81.93   5.89   95.32
9      Hithadhoo      MV     82.67  -0.60   73.08
11      Waingapu      ID     76.77  -9.66  120.26
15     Iranshahr      IR     78.80  27.20   60.68
16       Gyanpur      IN     79.23  25.35   82.47
17          Hilo      US     84.20  19.73 -155.09
18    Port Blair      IN     81.55  11.67   92.75
20      Havelock      US     77.00  34.88  -76.90
23  Mastic Beach      US     75.00  40.77  -72.85
25         Vaini      TO     77.00 -21.20 -175.20

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]


    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Sabang,ID,81.93,5.89,95.32,Hotel Citra
9,Hithadhoo,MV,82.67,-0.60,73.08,Scoop Guest House
11,Waingapu,ID,76.77,-9.66,120.26,Pondok Wisata Elim
15,Iranshahr,IR,78.80,27.20,60.68,کافی نت دانشگاه
16,Gyanpur,IN,79.23,25.35,82.47,Boy's hostel Arawali A and B
17,Hilo,US,84.20,19.73,-155.09,Hilo Hawaiian Hotel
18,Port Blair,IN,81.55,11.67,92.75,Fortune Resort Bay Island
20,Havelock,US,77.00,34.88,-76.90,Sherwood Motel
23,Mastic Beach,US,75.00,40.77,-72.85,Brushwood House by Smith Point Beach
25,Vaini,TO,77.00,-21.20,-175.20,Keleti Beach Resort

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# Adding marker locations
marker_layer= gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))