## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Bathsheba,BB,78.80,thunderstorm with light rain,13.22,-59.52,Atlantis Hotel
1,4,Atuona,PF,78.49,clear sky,-9.80,-139.03,Villa Enata
2,24,Bubaque,GW,81.86,overcast clouds,11.28,-15.83,Casa Dora - Mango Lodge
3,29,Dhidhdhoo,MV,81.70,few clouds,6.88,73.10,Dhidhoo beach
4,35,Eydhafushi,MV,81.95,broken clouds,5.10,73.07,Soneva Fushi

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather Description with Max Temp</dt><dd>{Description},  {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [116]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['Country'] == 'US') & (vacation_df['City'] == 'Half Moon Bay')]
vacation_end = vacation_df.loc[(vacation_df['Country'] == 'US') & (vacation_df['City'] == 'Half Moon Bay')]
vacation_stop1 = vacation_df.loc[(vacation_df['Country'] == 'US') & (vacation_df['City'] == 'La Palma')]
vacation_stop2 = vacation_df.loc[(vacation_df['Country'] == 'US') & (vacation_df['City'] == 'Clovis')] 
vacation_stop3 = vacation_df.loc[(vacation_df['Country'] == 'US') & (vacation_df['City'] == 'Laguna')] 
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
49,191,Half Moon Bay,US,75.2,scattered clouds,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"

In [117]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np
start = vacation_start.to_numpy()[0]
start = (start[5],start[6])

end = vacation_end.to_numpy()[0]
end = (end[5],end[6])

stop1 = vacation_stop1.to_numpy()[0]
stop1 = (stop1[5],stop1[6])

stop2 = vacation_stop2.to_numpy()[0]
stop2 = (stop2[5],stop2[6])

stop3 = vacation_stop3.to_numpy()[0]
stop3 = (stop3[5],stop3[6])

start = end
# list indexing 
print(type(stop2))

<class 'tuple'>

In [119]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# Latitude and Longitude pairs
Half_Moon_Bay = start
La_Palma = stop1
Clovis = stop2
Laguna = stop3

# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig2 = gmaps.figure()
directions = gmaps.directions_layer(Half_Moon_Bay, Half_Moon_Bay, waypoints=[La_Palma, Clovis, Laguna], travel_mode='DRIVING')
fig2.add_layer(directions)

fig2

Figure(layout=FigureLayout(height='420px'))

In [124]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,191,Half Moon Bay,US,75.2,scattered clouds,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
1,221,La Palma,US,87.8,clear sky,33.85,-118.05,La Quinta Inn & Suites by Wyndham Buena Park
2,250,Clovis,US,86.0,smoke,36.83,-119.70,Homewood Suites by Hilton Fresno Airport/Clovi...
3,633,Laguna,US,84.0,smoke,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
4,191,Half Moon Bay,US,75.2,scattered clouds,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"

In [125]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}, and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [129]:
# 11a. Add a marker layer for each city to the map.
fig3 = gmaps.figure(center=(30.0, 31.0), zoom_level=3.0)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig3.add_layer(marker_layer)
# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))